

.middle
{
    width:100%;
    height:200px;
    background-color:rgb(246, 241, 241);
    margin-top: 100px;
    text-align: center;
    padding-top: 50px;
    color: rgb(18, 17, 17);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    list-style-type: none;
 
 
 
}
li{
    display: inline;
    padding: 30px;
    float: right;
}

button{

    background-color: black;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover
{
    color:white;
}