body {
    background-color: rgb(254, 254, 254);
    color: rgb(16, 2, 2);
    margin-left: 30px;
}

a {
    color: rgb(20, 1, 1);
}

a:hover {
    color: rgb(0, 0, 0);
}

.yes {
    border-radius: 100%;
}

.sir {
    float: right;
    text-align: center;
}

.vision {
    text-align: left;
}

table,
th,
td {
    border: 1px solid rgb(22, 2, 2);
}